* {
    display: flex;
    box-sizing: border-box;
    padding: 0 0;
}

a{
    color: linen;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(red, green, rgb(68, 68, 68));
}
