{% extends "base.html" %}

{% block content %}
<div class="form">
    <form action="" method='post' enctype="multipart/form-data" class='form-container' novalidate>
        <h2>Add Media</h2>
        {{ form.hidden_tag() }}
        <ul>
            <li>
                {{ form.copies.label }}
                {{ form.copies(size=30) }}
            </li>
            <li>
                {{ form.title.label }}
                {{ form.title(size=30) }}
            </li>
            <li>
                {{ form.author.label }}
                {{ form.author(size=30) }}
            </li>
            <li>
                {{ form.category.label }}
                {{ form.category(size=30) }}
            </li>
            <li>
                {{ form.professor.label }}
                {{ form.professor(size=30) }}
            </li>
            <li>
                {{ form.department.label }}
                {{ form.department(size=30) }}
            </li>
            <li>
                {{ form.media_type.label }}
                {{ form.media_type(size=30) }}
            </li>
            <li>
                {{ form.upload.label }}
                {{ form.upload(size=30) }}
            </li>
        </ul>
        <button type="submit">{{form.submit()}}</button>
    </form>
</div>

{% endblock %}
