{%extends "base.html"%}

{%block content%}
<body>
    <h2>Welcome {{ user.get("name") }}!</h2>

    <!-- ms graph api call -->
    {% if config.get("ENDPOINT") %}
      <li><a href='/graphcall'>Call Microsoft Graph API</a></li>
    {% endif %}

    <!-- for B2C, ignore for now -->
    <!-- {% if config.get("B2C_PROFILE_AUTHORITY") %}
      <li><a href='{{_build_auth_code_flow(authority=config["B2C_PROFILE_AUTHORITY"])["auth_uri"]}}'>Edit Profile</a></li>
    {% endif %} -->

    <li><a href="/logout">Logout</a></li>
    <hr>
    <footer style="text-align: right">Powered by MSAL Python {{ version }}</footer>

</body>
</html>
{% endblock %}
