{% extends "base.html" %} {% block content %}
<body id="body1">
  <div class="card2 bg-dark text-light">
    <div class="card-body2">
      <h2 style="text-decoration: underline">Media</h2>
      <ul id="media-list">
        {% for blob in blob_list %}
        <li>
          {{ blob.metadata['title'] }} by {{ blob.metadata['author'] }}
          [Available Copies: {{ blob.metadata['copies'] }}]
          <button type="button" class="btn-primary">
            <a href="/rental_auth/{{ blob.container }}/{{ blob.name }}">Rent</a>
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>
{% endblock %}
