{% extends "base.html" %} 
{% block content %} 
<body id="body1" style="display: inline list-item;">
  <div class="card1 bg-dark text-light">
    <div class="card-body1">
      {% if success == 1 %}
        <h1>RENTAL HAS BEEN AUTHORIZED</h1>
        <h2>You will be redirected in 3... 2... 1...</h2>
      {% else %}
        <h1>RENTAL IS CURRENTLY UNAVAILABLE OR ALREADY RENTED BY YOU</h1>
        <h2>You will be redirected in 3... 2... 1...</h2>
      {% endif %}
    </div>
  </div>
</body>
{% endblock %}